
<link type="text/css" rel="stylesheet" href="@Url.Content("~/Scripts/Plugins/jquery.formValidator/style/validator.css")" />
<link type="text/css" rel="stylesheet" href="@Url.Content("~/Scripts/Plugins/jquery.easyValidator/css/validate.css")" />
<link type="text/css" rel="stylesheet" href="@Url.Content("~/Scripts/Plugins/bootstrap/css/bootstrap.min.css")" />
<link type="text/css" rel="stylesheet" href="@Url.Content("~/Scripts/Plugins/bootstrap/css/font-awesome.min.css")" />
<link type="text/css" rel="stylesheet" href="@Url.Content("~/Scripts/Plugins/jquery.colorbox/colorbox.css")" />
<link type="text/css" rel="stylesheet" href="@Url.Content("~/Scripts/Plugins/bootstrap/css/ace.min.css")" />
<link type="text/css" rel="stylesheet" href="@Url.Content("~/Scripts/Plugins/bootstrap/css/temp.css")" />
<link type="text/css" rel="stylesheet" href="@Url.Content("~/Scripts/Plugins/bootstrap/css/NewCommon.css")?v=@CRMSession.CurrentCssVerNo" />
<link type="text/css" rel="stylesheet" href="@Url.Content("~/Scripts/Plugins/NewCSS/form.css")" />
<link type="text/css" rel="stylesheet" href="@Url.Content("~/Scripts/Plugins/NewCSS/tip.css")" />
<link type="text/css" rel="stylesheet" href="@Url.Content("~/Scripts/Plugins/NewCSS/table.css")" />
<link type="text/css" rel="stylesheet" href="@Url.Content("~/Scripts/Plugins/NewCSS/circlebar.css")" />

<link type="text/css" rel="stylesheet" href="@Url.Content("~/Scripts/Plugins/artDialog/css/ui-dialog.css")" />
<link type="text/css" rel="stylesheet" href="@Url.Content("~/Scripts/Plugins/NewCSS/newicon.css")" />
<link type="text/css" rel="stylesheet" href="@Url.Content("~/Scripts/Plugins/NewCSS/font-awesome.css")" />
<link type="text/css" rel="stylesheet" href="@Url.Content("~/Scripts/Plugins/NewCSS/iconfont.css")" />
<link type="text/css" rel="stylesheet" href="@Url.Content("~/Scripts/Plugins/NewCSS/tab.css")" />
<link type="text/css" rel="stylesheet" href="@Url.Content("~/Scripts/Plugins/NewCSS/sidebar.css")" />
<link type="text/css" rel="stylesheet" href="@Url.Content("~/Scripts/Plugins/NewCSS/limits-tip.css")" />
<link type="text/css" rel="stylesheet" href="@Url.Content("~/Scripts/Plugins/jquery.check/xenon-core.css")" />
<!--[if IE 7]>
        <link rel="stylesheet" href="@Url.Content("~/Scripts/Plugins/bootstrap/css/font-awesome-ie7.min.css")" />
    <![endif]-->
<!--[if lte IE 8]>
        <link rel="stylesheet" href="@Url.Content("~/Scripts/Plugins/bootstrap/css/ace-ie.min.css")" />
    <![endif]-->
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.8.3.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Plugins/jquery.check/xenon-custom.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Plugins/bootstrap/js/layout-extra.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/CRM/Common.js")?v=@CRMSession.CurrentJavascriptVerNo"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/CRM/Core.js")?v=@CRMSession.CurrentJavascriptVerNo"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Plugins/alt/alt.js")?v=@CRMSession.CurrentJavascriptVerNo"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Plugins/jquery.treeview/jquery.cookie.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Plugins/jquery.easyValidator/easy_validator.pack.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Plugins/jquery.easyValidator/jquery.bgiframe.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Plugins/jquery.colorbox/jquery.colorbox.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Plugins/bootstrap/js/bootstrap.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Plugins/bootstrap/js/layout.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Plugins/bootstrap/slimscroll/jquery.slimscroll.horizontal.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Plugins/bootstrap/js/jquery-ui-1.10.3.custom.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Plugins/artDialog/dialog-plus-min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Plugins/artDialog/dialog-customer.js")"></script>
<!--[if lt IE 9]>
        <script type="text/javascript" src="@Url.Content("~/Scripts/Plugins/bootstrap/js/html5shiv.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/Plugins/bootstrap/js/respond.min.js")"></script>
    <![endif]-->
<!--[if lte IE 8]>
        <script type="text/javascript" src="@Url.Content("~/Scripts/Plugins/bootstrap/js/excanvas.min.js")"></script>
    <![endif]-->

<form class="ui-form form-horizontal" style="max-height:600px; overflow-y:auto;" >

       
    <div class="control-group">
        <label class="control-label">单选框：</label>

        <div class="controls">
            <label class="cbr-inline"><input class="cbr" type="radio" name="IsAutoWeight" checked />开</label>
            <label class="cbr-inline"><input class="cbr" type="radio" name="IsAutoWeight" />关</label>
            <div class="onShow"><i class="icon-bell"></i>礼物必须发布在淘宝"其他>其他>赠品"类目下</div>
        </div>

    </div>
    <div class="control-group">
        <label class="control-label">复选框：</label>
        <div class="controls">
            <label class="cbr-inline"><input class="cbr" type="checkbox" name="IsAutoWeightCheck" checked />开启</label>
            <label class="cbr-inline"><input class="cbr" type="checkbox" name="IsAutoWeightCheck" />开启</label>
            <div class="onCorrect"><i class="icon-ok-circle"></i>提示信息，可以到<a class="blue font-blue">系统设置-决策人信息</a>去设置</div>
        </div>
    </div>
        <div class="control-group">
            <label class="control-label">时间选择：</label>
            <div class="controls">
                <input type="text" class="input-medium wdate">
                -
                <input type="text" class="input-medium wdate">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">时间选择：</label>
            <div class="controls">
                <input type="text" class="input-medium wdate">
                -
                <input type="text" class="input-medium wdate">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">时间选择：</label>
            <div class="controls">
                <input type="text" class="input-medium wdate">
                -
                <input type="text" class="input-medium wdate">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">时间选择：</label>
            <div class="controls">
                <input type="text" class="input-medium wdate">
                -
                <input type="text" class="input-medium wdate">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">时间选择：</label>
            <div class="controls">
                <input type="text" class="input-medium wdate">
                -
                <input type="text" class="input-medium wdate">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">地址选择：</label>
            <div class="controls">
                <span>
                    <select id="dpType">
                        <option value="1">全店任意商品</option>
                        <option value="2">以下任意商品</option>
                    </select>
                    省
                    <select id="dpType">
                        <option value="1">全店任意商品</option>
                        <option value="2">以下任意商品</option>
                    </select>
                    市
                    <select id="dpType">
                        <option value="1">全店任意商品</option>
                        <option value="2">以下任意商品</option>
                    </select>
                    区/县
                </span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label v-top">上传文件（中号）：</label>
            <div class="controls file-medium">
                <input type="file" class="id-input-file-2" />
            </div>
        </div>
    <div class="control-group">
        <label class="control-label v-top">备注(文本框中号)：</label>
        <div class="controls">
            <textarea rows="5" class="textarea-medium" placeholder="请输入文本"></textarea>
            <div class="show-block onShow"><i class="icon-bell"></i>我是块状提示信息</div>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label v-top">内容(文本框大号)：</label>
        <div class="controls">
            <div>
                <span class="tagBox">{交易编号}</span>
                <span class="tagBox">{客户姓名}</span>
                <span class="tagBox">{客户昵称}</span>
                <span class="tagBox">{下单时间}</span>
                <span class="tagBox">{待付金额}</span>
                <span class="tagBox">{付款链接}</span>
                <span class="tagBox">{H5互动地址}</span>
            </div>
            <div class="show-inline-blk "> <textarea rows="5" placeholder="请输入文本"></textarea></div>
            <div class="onError"><i class="icon-remove-circle"></i>催付内容不能为空</div>
            <div class="onShow show-block">
                <i class="icon-bell"></i><span class="col-normal">您已录入 <span class="text-warning">78</span> 个字符(含店铺签名)，将被做为<span class="text-warning">2</span> 条短信发送，每条按<span class="text-warning">67</span>字计价。</span>


            </div>

        </div>
    </div>
      
    
</form>
<script src="../Scripts/Plugins/bootstrap/js/layout-elements.min.js"></script>

<script>
    $('.id-input-file-2').ace_file_input({
        no_file: '暂无文件',
        btn_choose: '请选择',
        btn_change: '请选择',
        droppable: false,
        onchange: null,
        thumbnail: false
    });

</script>